---
import PageHeader from "@components/PageHeader.astro";
import Shape from "@components/Shape.astro";
import Base from "@layouts/Base.astro";
import IntegrateMedia from "@layouts/function-components/IntegrateMedia";
import Cta from "@layouts/partials/Cta.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import { getEntryBySlug } from "astro:content";
const lessonsIndex = await getEntryBySlug<any, string>(
  "lessons",
  "-index"
);
const categories = await getTaxonomy("lessons", "categories");
const lessons = await getSinglePage("lessons");
const page_data = {
  ...lessonsIndex.data,
  content: lessonsIndex.body,
};
---

<Base
  title={lessonsIndex.data.title}
  meta_title={lessonsIndex.data.meta_title}
  description={lessonsIndex.data.description}
  image={lessonsIndex.data.image}
>
  <Shape />
  <section class="page-hero pb-14 pt-16">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>
  </section>
  <IntegrateMedia
    client:load
    lessons={lessons}
    categories={categories}
  />
</Base>
